[submodule "orbslam3/orbslam3_ros2"]
	path = orbslam3/orbslam3_ros2
	url = https://github.com/JussiKalliola/orb_slam_2_ros.git
[submodule "orbslam3/ORB_SLAM3"]
	path = orbslam3/ORB_SLAM3
	url = https://github.com/JussiKalliola/ORB_SLAM3.git
