[submodule "orbslam3/orbslam3_ros2"]
	path = orbslam3/orbslam3_ros2
	url = https://github.com/JussiKalliola/ORB_SLAM3_ROS2.git
	branch = single_node
[submodule "orbslam3/ORB_SLAM3"]
	path = orbslam3/ORB_SLAM3
  url = https://github.com/JussiKalliola/ORB_SLAM3.git
	branch = single_node
